<h2>Commentaire(s)</h2>
<ul *ngIf="postComment">
  <li *ngFor="let item of postComment">{{item.content}}<b>{{item.author}}</b></li>
</ul>

<h2>Ajouter un commentaire</h2>

<form (submit)="submitNewComment()" *ngIf="newComment">
  
  <label for="userName">Indiquez votre nom</label>
  <input type="text" id="userName" name="userName" 
    [(ngModel)]="newComment.author"
  >

  <label for="userComment">Ajouter un commentaire</label>
  <textarea name="userComment" id="userComment"
    [(ngModel)]="newComment.content"
  ></textarea>

  <button type="submit">Ajouter</button>

  {{newComment | json}}
</form>